body{
    font-family: 'Raleway', sans-serif;
}

.header{
    border: 2px solid black;
}

.quizArea{
    border: 2px solid red;
}

    .options{
        border: 2px solid blue;
    }

    .options:hover{
        background: grey;
    }

.results{
    border: 2px solid green;
}